<div class="container">
 <h2 class="title mb-4">いいねした投稿一覧<i class="fas fa-dog"></i>（全<%= @favorite_reviews.count %>件）</h2>
 <div class="row">
  <%= render "public/reviews/index", reviews: @favorite_reviews %>
 </div>
</div>