<div class="container">
  <div class="form-row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto">
      <h2>管理者ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group row">
          <label for="inputemail">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="form-group row">
          <label for="inputpassword">パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
          <div class="text-right">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
