<div class="container">
  <div class="row">
    <h1 class="mx-auto"><i class="fas fa-bone"></i>このサイトについて<i class="fas fa-bone"></i></h1>
    <div class="col-md-12 mt-4 text-center">
      <p>犬の様々な商品のレビューを見れる<br>
         レビューサイトです！</p>
      <p>会員登録すると自分でレビューを投稿できたり<br>
         気に入った投稿にコメントやいいねをつけたりすることができます！</p>
    </div>
  </div>
</div>
<%= image_tag '1661759.png',size: "500x500", class: "d-block mx-auto img-fluid" %>
