  <% if review.favorited_by?(current_user) %>
    <%= link_to review_favorites_path(review), method: :delete, remote: true, data: {"turbolinks" => false} do %>
      <div class="vertical_favorite">
       ♥<%= review.favorites.count %>件
      </div>
    <% end %>
  <% else %>
    <%= link_to review_favorites_path(review), method: :post, remote: true, data: {"turbolinks" => false} do %>
      <div class="vertical_favorite">
        ♡<%= review.favorites.count %>件
      </div>
    <% end %>
  <% end %>